.main{
    height: 100vh;
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: auto;
    
   

}
.bg
{
background-color: #FFC0CB;
width: 100%;
}

.bg1
{
background-color: #AFEEEE;
width: 100%;

}

.bg2
{
background-color: #FFDAB9;
width: 100%;

}
.bg4
{
background-color: #F4F6F7;
width: 100%;

}
.bg3
{
background-color: 	#ADD8E6;
width: 100%;

}
.content{
    width: 50%;

}
.content h1
{
    font-size: 4rem;
    margin-bottom: 0px;
}
.content p{
    font-size: 1.4rem;
    font-weight: 350;
    line-height: 30px;
    margin-top: 0px;
    
}
.pic
{
    width: 50%;
}
/* adding responsiveness */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) 
{
    .content{
        width: 50%;
    }
    .content h1
    {
        font-size: 2.1rem;
        margin-bottom: 0px;
    }
    .content p{
        font-size: 1.05rem;
        font-weight: 300;
        line-height: 20px;
        margin-top: 0px;
        
    }
}
@media  screen and (max-height: 700px)
{
        
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) 
{
    .content{
        width: 50%;
    }
    .content h1
    {
        font-size: 3rem;
        margin-bottom: 0px;
    }
    .content p{
        font-size: 1.15rem;
        font-weight: 350;
        line-height: 25px;
        margin-top: 0px;
        
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) 
{
    .content h1
    {
        font-size: 3rem;
        margin-bottom: 0px;
    }
    .content p{
        font-size: 1.2rem;
        font-weight: 370;
        line-height: 30px;
        margin-top: 0px;
        
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) 
{
    .content{
        width: 50%;
    }
    .content h1
    {
        font-size: 3rem;
        margin-bottom: 0px;
    }
    .content p{
        font-size: 1.3rem;
        font-weight: 370;
        line-height: 35px;
        margin-top: 0px;
        
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) 
{
    .content{
        width: 50%;
    }
    .content h1
    {
        font-size: 4.1rem;
        margin-bottom: 0px;
    }
    .content p{
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 40px;
        margin-top: 0px;
    }  
    
}
